/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.center {
  visibility: hidden;
  overflow: hidden;
}

.mobileExplain {
  visibility: visible;
  padding: 2rem;
}

@media screen and (min-width: 1024px) {
  .center {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
  }

  .mobileExplain {
    visibility: hidden;
    padding: 0rem;
  }
}
